* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: rgb(221, 228, 234);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 50px;
}
h1 {
  font-size: 40px;
  padding-bottom: 20px;
}
h2 {
  margin-bottom: 20px;
  text-align: left;
}
p {
  margin-bottom: 20px;
}
.first {
  color: red;
}

#form-name {
  background-color: rgb(244, 166, 57);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 50px;
}
input,
button {
  padding: 10px;
}
a {
  background-color: yellowgreen;
}

#form-name h2 {
  color: olivedrab;
}

#course-image {
  width: 200px;
}
